body {
    background-color: #fffeec;
}
h1 {
    color: red;
    background-color: #727272;
}
h2 {
    color: violet;
    background-color: #a5a5a5;
}
p {
    background-color: #c5c5c5
}
strong {
    color: blue;
    text-decoration: underline;
}