@charset "utf-8";

/*                                           */
/* Escriba su nombre                         */
/*                                           */
/* CSS ejercicio: Don  Quijote Capítulo 1    */
/*                                           */
/* Escriba la fecha                          */
/*                                           */

body {
  font-family: sans-serif;
  background-color: rgb(197, 148, 243);
}

h1, h2 {
  text-align: left;
  color: rgb(126, 0, 0);
  margin-left: 10%;
  margin-right: 10%;
}

p {
  text-align: justify;
  line-height: 150%;
  color: rgb(126, 0, 0);
  margin-left: 10%;
  margin-right: 10%;
}

footer {
  border-top: black 3px solid;
  color: black;
  margin-left: 10%;
  margin-right: 10%;
  color: rgb(126, 0, 0)
}
